.cursoDetails-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 115px;
  padding-bottom: 115px;
  width: 100%;
}

.curso-banner{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 248px;
  width: 90%;
  background: url('../assets/cursoDetails/banner_teens.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0 0 45px 45px;
  padding-left: 54px;
}

.curso-banner p{
  color: #f1f1f1;
  font-size: 54px;
}

.curso-description{
  padding-top: 3rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.text-description{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
  font-size: 28px;
}

.parrafo-description{
  line-height: 42px;
}

/* card */
.price-description{
  position: sticky;
  top: 135px;
  display: flex;
  justify-content: flex-end;
  width: 45%;
  margin-top: -135px;
}

.price-description--card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 80%;
  background-color: #f1f1f1;
  padding: 2rem 0;
  border-radius: 20px;
  color: #252D52;
  height: auto;
}

.price-description--card h2{
  font-size: 40px;
  font-weight: normal;
  
}

.inscription-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EE1120;
  padding: 12px;
  border-radius: 36px;
  width: 80%;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
}

.inscription-btn-disabled{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EE1120;
  padding: 12px;
  border-radius: 36px;
  width: 80%;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  opacity: 0.5;
}

.card--duration{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.card--duration p{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  font-size: 18px;
}

.card--duration img{
  width: 30px;
}


.card--inicio-final{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  padding: 0 10%;
  border-top: 6px solid #fff;
  font-size: 18px;
}

.card--inicio-final div{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card--inicio-final div:first-child{
  padding-top: 28px;
}

.card--red-text{
  color: #EE1120;
}

/* Media querys */

@media (max-width: 1024px){
  .curso-description{
    flex-direction: column;
  }

  .curso-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;

  }

  .curso-banner .card--duration{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .text-description{
    width: 100%;
  }

  .curso-description{
    padding-bottom: 20px;
  }

  .cursoDetails-container{
    padding-bottom: 40px;
  }

  .price-description{
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 600px;
    top: 24px;
    min-width: 320px;
    margin: auto;
  }
  
  .price-description--card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: #f1f1f1;
    width: 100%;
    padding: 2rem 0;
    border-radius: 20px;
    color: #252D52;
    height: auto;
  }
  
  .price-description--card h2{
    font-size: 40px;
    font-weight: normal;
    
  }
}