.inscription-container{
  padding-top: 115px;
}

.select-element{
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  padding: .3rem;
  font-size: 20px;
}

.select-curso{
  width: 100%;
}

.form-element label p{
  padding-top: 12px;
  font-weight: normal;
  font-size: 20px;
}

.radio-div{
  display: flex;
  gap: 3rem;
}

.radio-div div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

.radio-div label{
  cursor: pointer;
  font-size: 24px;
}

.radio-div input{
  cursor: pointer;
  width: 20px;
}

/* metodo de pago */

.metodo-de-pago{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  font-size: 24px;
}

.metodos-list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.metodos-list div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.metodos-list label{
  padding-left: 8px;
  cursor: pointer;
}

.metodos-list div input{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.pago--buttons-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* confirmación */

.confirmacion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.confirmacion h2{
  font-size: 27px;
}

.confirmacion p{
  font-size: 18px;
}

.confirmacion h3{
  font-size: 22.5px;
  margin: 4px 0px;
  text-decoration: underline;
}

/* confirmacion datos */
.confirmacion .datos{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.confirmacion .datos-first-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.datos-curso-pago{
  display: flex;
  flex-direction: column;
  gap: 4px;
}


/* disabled */
.disabled{
  display: none;
}

/* datos para trasnferir modal */

.datos-transferir{
  border: 1px solid black;
  padding: 4px 12px;
  border-radius: 12px;
  max-width: 240px;
  height: 36px;
  font-size: 16px;
}

.datos-transferencia-container{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999999;
}

.datos-transferencia--box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  max-width: 95%;
  height: 200px;
  background-color: #fff;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid #222;
  position: relative;
}

.datos-transferencia--box div{
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #f1f1f1;
  border: 1px solid #444;
  padding: 12px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 16px;
}

.datos-transferencia--box p{
  font-size: 16px;
  margin: 0 auto;
}


@media (max-width: 480px){
  .form-container form{
    padding: 2rem 0px;
  }
}

.copy-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 16px;
  margin-left: 4px;
}

.copy-icon{
  width: 100%;
  height: 100%;
}
