.profesor-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  align-items: center;
  width: 200px;
  font-size: 1.2rem;
}

.profesor-card img{
  border: 4px solid #252d62;
  border-radius: 50%;
}

.profesor-card--name{
 font-weight: bold;
}